In [9]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as pyplot

In [10]:
df = pd.read_csv('SID18.20241115154528.csv')

In [12]:
df.head(20)

,STATISTIC,Statistic Label,TLIST(A1),Year,C02352V02829,Highest Level of Education Attained by either parent in teenage household,C03591V04331,Percentile of equivalised disposable Income,UNIT,VALUE
0,SID18C01,Income of individuals aged 25-59,2023,2023,214,Low - Lower secondary or below,10,Less than 20,%,26.2
1,SID18C01,Income of individuals aged 25-59,2023,2023,214,Low - Lower secondary or below,20,20-39,%,21.4
2,SID18C01,Income of individuals aged 25-59,2023,2023,214,Low - Lower secondary or below,30,40-59,%,17.4
3,SID18C01,Income of individuals aged 25-59,2023,2023,214,Low - Lower secondary or below,40,60-79,%,18.0
4,SID18C01,Income of individuals aged 25-59,2023,2023,214,Low - Lower secondary or below,50,80-100,%,17.0
5,SID18C01,Income of individuals aged 25-59,2023,2023,224,Medium - Upper secondary and post-secondary no...,10,Less than 20,%,11.9
6,SID18C01,Income of individuals aged 25-59,2023,2023,224,Medium - Upper secondary and post-secondary no...,20,20-39,%,19.0
7,SID18C01,Income of individuals aged 25-59,2023,2023,224,Medium - Upper secondary and post-secondary no...,30,40-59,%,19.8
8,SID18C01,Income of individuals aged 25-59,2023,2023,224,Medium - Upper secondary and post-secondary no...,40,60-79,%,24.1
9,SID18C01,Income of individuals aged 25-59,2023,2023,224,Medium - Upper secondary and post-secondary no...,50,80-100,%,25.2
10,SID18C01,Income of individuals aged 25-59,2023,2023,4,Third level,10,Less than 20,%,9.7
11,SID18C01,Income of individuals aged 25-59,2023,2023,4,Third level,20,20-39,%,11.2
12,SID18C01,Income of individuals aged 25-59,2023,2023,4,Third level,30,40-59,%,20.3
13,SID18C01,Income of individuals aged 25-59,2023,2023,4,Third level,40,60-79,%,25.3
14,SID18C01,Income of individuals aged 25-59,2023,2023,4,Third level,50,80-100,%,33.4